$tablet-breakpoint: 1080px;

$light-purple: #979CED;
$dark-blue: #7074df;
$off-white: #F7F7FF;

body {
    background-color: $off-white;
}

.pricing-card {
    font-family: "Nunito", sans-serif;
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 250px;
    height: 300px;
    margin: auto;
    border-radius: 5px;
    transition: transform .2s;

    .plan-name {
        grid-row: auto;
        font-weight: 600;
        padding-top: 10%;
    }

    .pricing {
        grid-row: auto;
        font-weight: 700;
        font-size: 50px;
    }

    .details {
        grid-row: auto;
        width: 80%;

        .detail {
            width: 100%;
            border-top: 1px solid rgba(205, 205, 205, 0.5);
            border-bottom: 1px solid rgba(205, 205, 205, 0.5);
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .learn-more {
        grid-row: auto;

        button {
            height: 25px;
            width: 200px;
            color: $dark-blue;
            background: white;
            border: none;
            outline: none;
            border-radius: 3px;
        }
    }
}

.pricing-card.active {
    background-image: linear-gradient($light-purple, $dark-blue);
    color: white;
    transform: scale(1.05);
}

.pricing-card-list {
    display: flex;
    padding-top: 5vh;
    width: 750px;
    margin: auto;
    justify-content: center;
    flex-direction: row;
}