$tablet-breakpoint: 1080px;

$light-purple: #979CED;
$dark-blue: #7074df;
$off-white: #F7F7FF;
$darker-blue: #464BD6;

body {
    background-color: $off-white;
    font-family: "Nunito", sans-serif;
}

.title {
    margin: auto;
    padding: auto;
    text-align: center;;
}

.switch-container {
    display: flex;
    justify-content: center;
    vertical-align: center;
}

/* The switch - the box around the slider */
.switch {
    margin-top: 1.5vh;
    position: relative;
    width: 60px;
    height: 34px;
  }
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: $dark-blue;
}

input:focus + .slider {
    box-shadow: 0 0 1px $dark-blue;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}